{% if option_fields.exchange_rate and show_currency %}
  <div class="currency">
    <span class="currency-img"></span>
    <span class="currency-exchange-rate">{{ option_fields.exchange_rate }}</span>
  </div>
{% endif %}
