.shortcode-chart-container {
  height: 555px;
  background-color: var(--sk-color-border);
  width: 100%;

  @include breakpoint-down(md-s) {
    height: 315px;
  }
}

.highcharts-scrollbar {
  display: none;
}

.highcharts-draw-mode {
  cursor: crosshair;
}

.highcharts-stocktools-wrapper {
  display: block;
}

.highcharts-stocktools-toolbar {
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  gap: 5px 5px;

  > li {
    background-color: var(--sk-color-white);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 40px;
    padding: 0;
    position: relative;
    width: auto;
    list-style: none;
    min-width: 160px;
    border: 1px solid var(--sk-color-border-doc);
    display: flex;
    align-items: center;

    > span.highcharts-menu-item-btn {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 100%;
      width: 40px;
    }

    > span.highcharts-menu-item-title {
      padding: 0 10px;
      font-size: 16px;
    }

    > ul {
      display: none;
      top: 100%;
      left: -1px;
      right: -1px;
      list-style: none;
      padding-left: 0;
      position: absolute;
      z-index: 125;
      border: 1px solid var(--sk-color-border-doc);
      background-color: var(--sk-color-white);

      > li {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        > span.highcharts-menu-item-btn {
          background-repeat: no-repeat;
          background-position: 50% 50%;
          height: 40px;
          width: 40px;
        }

        > span.highcharts-menu-item-title {
          padding: 0 10px;
          font-size: 16px;
        }

        &:hover {
          background-color: var(--sk-color-border);
        }
      }
    }

    &:hover {
      > ul {
        display: block;
      }
    }
  }
}

.highcharts-indicators > .highcharts-menu-item-btn {
  background-image: url("../../resources/img/indicators.svg");
}

.highcharts-series-type-ohlc > .highcharts-menu-item-btn {
  background-image: url("../../resources/img/series-ohlc.svg");
}

.highcharts-series-type-line > .highcharts-menu-item-btn {
  background-image: url("../../resources/img/series-line.svg");
}

.highcharts-series-type-candlestick > .highcharts-menu-item-btn {
  background-image: url("../../resources/img/series-candlestick.svg");
}

.highcharts-input-search-indicators,
.highcharts-input-search-indicators-label {
  display: none;
}

.highcharts-popup {
  top: 0;
  left: 0;
  width: 100%;
}

@include breakpoint-down(xs) {
  .highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
    display: none;
  }

  .highcharts-stocktools-toolbar li ul li {
    width: auto;
  }

  .highcharts-stocktools-toolbar > li {
    min-width: auto;
  }
}

.share-card {
  background-color: var(--sk-color-white);
  padding: 24px 10px 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  @include breakpoint-down(md-s) {
    flex-direction: column;
  }

  .item {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--sk-color-border);

    @include breakpoint-down(md-s) {
      flex-direction: column;
      border-right: 0;
      margin-bottom: 30px;
      width: 100%;
    }

    .title {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;
    }

    .content {
      font-size: 36px;
      line-height: 50px;
      color: var(--sk-color-second-dark);
      display: flex;
      align-items: center;

      .icon {
        display: inline-block;
        width: 40px;
        height: 26px;
        background-image: url(../img/asset-stock.png);
        margin-right: 10px;

        &.stock-up {
          background-position: -20px -26px;
        }

        &.stock-equal {
          background-position: -20px -68px;
        }

        &.stock-down {
          background-position: -20px -108px;
        }
      }
    }

    &:last-of-type {
      border-right: 0;
    }
  }
}

.highcharts-popup input,
.highcharts-popup select {
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 5px;
  outline: 0;
  border: 1px solid var(--sk-color-border-doc);
  background-color: var(--sk-color-white);
  color: var(--sk-color-body);
}
